<div class="todo-app-wrapper">
  <!-- Statistics -->
  <h2> Task list overview: </h2>
  <table class="container">
    <th> Todo: <div [innerHTML]="getTasksOfState(false)"></div>
    </th>
    <th> Completed: <div [innerHTML]="getTasksOfState(true)"></div>
    </th>
    <th> Total: <div [innerHTML]="getTasksLeft()"></div>
    </th>
  </table>

  <!-- Use hidden button to hide. But we can also delete the element if everything is completed, which saves resources.-->
  <button (click)="toggle()">Toggle list</button>


  <!-- Task list! -->
  <div *ngIf="getTasksLeft() > 0" [hidden]="tasksHidden">
    <div *ngFor="let task of tasks | orderLexicographically: 'description'; let i = index"
      [ngClass]="{'task-item': true, 'complete': task.completed, 'incomplete': !task.completed}">
      <div> <strong>id: </strong> {{ i }}</div>
      <!-- The pipe, or '|' ensure that we get the content in uppercase.-->
      <div> <strong>Type:</strong> {{ task.type | titlecase}} </div>
      <div> <strong>Description:</strong> {{ task.description }} </div>
      <div> <strong>Completed:</strong> {{ task.completed ? 'Yes' : 'No' | uppercase}} </div>
      <div> <button (click)="task.completed = !task.completed"> Toggle status </button> </div>
    </div>
  </div>
</div>



<!-- Cool message in case we are done-->
<div *ngIf='getTasksOfState(false) === 0'>
  <h1> All Done B)</h1>
  <img
    src="https://3.bp.blogspot.com/_FklZWHg2nYI/SjFcWH8rQcI/AAAAAAAAANY/dKWYZF7Eiao/w1200-h630-p-k-no-nu/pausefisk.jpg">
</div>