<div class="todo-app-wrapper">
  <!-- Statistics -->
  <div>
    <h2> Task list overview: </h2>
    <table class="container">
      <th> Todo: <div [innerHTML]="getTasksOfState(false)"></div>
      </th>
      <th> Completed: <div [innerHTML]="getTasksOfState(true)"></div>
      </th>
      <th> Total: <div [innerHTML]="getTasksLeft()"></div>
      </th>
    </table>
  </div>

  <!-- Use hidden button to hide. But we can also delete the element if everything is completed, which saves resources.-->
  <button (click)="toggle()">Toggle list</button>

  <!-- Task list! -->
  <div *ngIf="getTasksLeft() > 0" [hidden]="tasksHidden">
    <table>
      <th>Task no. </th>
      <th>Type </th>
      <th>Description</th>

      <tr *ngFor="let task of taskSummary; let i=index" [ngClass]="task.completed ? 'complete' : 'incomplete'">
        <td>{{ i }}</td>

        <!-- The pipe, or '|' ensure that we get the content in uppercase.-->
        <td>{{task.type | uppercase}}</td>
        <td>{{task.description | titlecase}}</td>

        <td><button (click)="task.completed = !task.completed"> Toggle status</button></td>
      </tr>
    </table>
  </div>

  <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">

    <label for="description">Description: </label>
    <input type="text" id="description" name="description" ngModel>

    <div>
      <label> Type: </label>
      <label><input type="radio" name="type" value="daily" ngModel> Daily </label>
      <label><input type="radio" name="type" value="weekly" ngModel> Weekly </label>
    </div>

    <button type="submit">Submit</button>
  </form>

</div>



<!-- Cool message in case we are done-->
<div *ngIf='getTasksOfState(false) === 0'>
  <h1> All Done B)</h1>
  <img
    src="https://3.bp.blogspot.com/_FklZWHg2nYI/SjFcWH8rQcI/AAAAAAAAANY/dKWYZF7Eiao/w1200-h630-p-k-no-nu/pausefisk.jpg">
</div>