<div class="todo-app-wrapper">
  <!-- Statistics -->
  <h2> Task list overview: </h2>
  <h3> Todo: <div [innerHTML]="getTasksOfState(false)"></div></h3>
  <h3> Completed: <div [innerHTML]="getTasksOfState(true)"></div></h3>
  <h3> Total: <div [innerHTML]="getTasksLeft()"></div></h3>

  <button (click)="toggle()">Toggle list</button>

  <!-- Use hidden button to hide. But we can also delete the element if everything is completed, which saves resources.-->
  <div *ngIf="getTasksLeft() > 0" [hidden]="tasksHidden">
    <table>
      <th>taskindex</th> <th>type</th> <th>task description</th> <th>completed</th>

      <tr *ngFor="let task of tasks.summary; let i=index;" [ngClass]="task.completed ? 'complete' : 'incomplete'">
        <td>{{ i }}</td>

        <!-- The pipe, or '|' ensure that we get the content in uppercase.-->
        <td>{{task.type | uppercase}}</td> 
        <td>{{task.description | titlecase}}</td>
        <td>{{task.completed}}</td>

        <td><button (click)="task.completed = !task.completed"> Toggle status</button></td>
      </tr>
    </table>
  </div>
  <button class="clearbtn"> CLEAR </button>
</div>



<!-- Cool message in case we are done-->
<div *ngIf='getTasksOfState(false) === 0'>
  <h1> All Done B)</h1>
  <img src="https://3.bp.blogspot.com/_FklZWHg2nYI/SjFcWH8rQcI/AAAAAAAAANY/dKWYZF7Eiao/w1200-h630-p-k-no-nu/pausefisk.jpg">
</div>